<div class='character <%="#{character.character_class.name.downcase}"%>' 
     id='character_<%= character.id%>' 
     title="<%= character.tooltip %>">
  <div class=health_bar></div>
  <div class=skill_bar></div>
</div>

<script type='text/javascript'>
  set_health(<%= character.id%>, <%= character.health_percent %>);
  set_skill(<%= character.id%>, <%= character.skill_percent %>);
</script>
