<h1>Playing <%= @game.name %></h1>
<div class='row row-fluid'>
  <div class='span8'>
    <% @game.levels.each do |level| %>
      <%= render :partial => 'level_grid', :locals => {:level => level} %>
    <% end %>
  </div>
  <div class='span4' id='right_bar'>
    <%= render :partial => 'turn_menu', :locals => {:character => @game.current_character} %>
    <div class='play_messages' id='play_messages'>
  </div>
</div>

<script type='text/javascript'>
  show_level(<%= @game.current_character.level_id %>);
  init_level_grid(<%=@game.id%>);
  $('#play_messages').height($('.level_holder').height()-$('.turn_menu').height());
</script>
